<?xml version="1.0" encoding="UTF-8" standalone="no"?><entities>
	<entity>
		<entity-name>cloud.distrFileSys.master.model.CloudAccountRent</entity-name>
		<entity-width>120</entity-width>
		<entity-height>228</entity-height>
		<entity-X-Coordinate>277</entity-X-Coordinate>
		<entity-Y-Coordinate>20</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>cloud.distrFileSys.master.model.CloudAccount</entity-name>
		<entity-width>120</entity-width>
		<entity-height>226</entity-height>
		<entity-X-Coordinate>590</entity-X-Coordinate>
		<entity-Y-Coordinate>110</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>cloud.distrFileSys.master.model.User</entity-name>
		<entity-width>120</entity-width>
		<entity-height>108</entity-height>
		<entity-X-Coordinate>330</entity-X-Coordinate>
		<entity-Y-Coordinate>350</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>cloud.distrFileSys.master.model.TestModel</entity-name>
		<entity-width>120</entity-width>
		<entity-height>70</entity-height>
		<entity-X-Coordinate>10</entity-X-Coordinate>
		<entity-Y-Coordinate>30</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>cloud.distrFileSys.master.model.File</entity-name>
		<entity-width>120</entity-width>
		<entity-height>386</entity-height>
		<entity-X-Coordinate>150</entity-X-Coordinate>
		<entity-Y-Coordinate>130</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>
</entities>